@model IEnumerable<EcommerceOsorio.Models.Categoria>
@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Pagina Principal</h2>


@Html.ActionLink("Gerenciamento de Categorias", "Index", "Categorias", null, null)
<br/>

@Html.ActionLink("Gerenciamento de Produtos", "Index", "Produtos", null, null)
<br/>

<div>
	<ul>
		@foreach (var item in ViewBag.ListaDeCategorias)
		{
			<li>
				<a href="~/Home/Index/@item.CategoriaId">@item.CategoriaNome</a>
			</li>
		}

	</ul>
</div>

<div>
	if(ViewBag.Id != null){
	  @foreach (var itemProduto in ViewBag.ProdutoDaCategoria) {
		 <div id="@itemProduto.ProdutoCategoria.CategoriaNome">
			 <div>
				 <h3>@itemProduto.ProdutoNome</h3>
			 </div>
		 </div>
	  }
	  }
</div>

